<div class="form-horizontal">
    <input type="hidden" ng-model="invoice.id" value="{{invoice.id}}" />
    <div class="form-group">
        <label class="col-sm-4 control-label">invoice Name: </label>
        <div class="col-sm-6">
            <input id="companyName" class="form-control" type="text"
                   ng-model="invoice.invoiceName" value="{{invoice.invoiceName}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Supplier Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoice.supplierId"
                   value="{{invoice.supplierId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Unit Price: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoice.unitPrice"
                   value="{{invoice.unitPrice}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Package: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="invoice.package"
                   value="{{invoice.package}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">
            Is Discontinued?:
        </label>
        <input type="checkbox" ng-model="invoice.isDiscontinued"
               checked="{{invoice.isDiscontinued? 'checked':''}}"
               value="{{invoice.isDiscontinued}}" />
    </div>
</div>