<div class="form-horizontal">
     <div class="form-group">
        <label class="col-sm-4 control-label">Playlist Id: </label>
        <div class="col-sm-6">
            <input id="companyName" class="form-control" type="text"
                   ng-model="playlistTrack.playlistId" value="{{playlistTrack.playlistId}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Track Id: </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="playlistTrack.trackId"
                   value="{{playlistTrack.trackId}}" />
        </div>
    </div>
   
</div>